@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.head-text-style {
    font-size: 40px;
    font-family: Josefin Sans, serif;
    font-weight: 350;
    line-height: 2;
    height: 400px;
}