@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.typing-style {
    font-size: 25px;!important;
    font-family: Josefin Sans, serif;!important;
    font-weight: 400;
    line-height: 1.5;
}
